.form {
	&__label {
		display: block;
		margin-bottom: .2em;
		font-size: small;
		color: $dark-gray;
	}
	&__input,
	&__textarea {
		display: block;
		margin-bottom: 1em;
		border: 1px solid $gray;
		padding: .4em .8em;
		font-size: .9em;
		width: 100%;
		box-sizing: border-box;
		outline: none;
		&.last {
			margin-bottom: 0 !important;
		}
	}
	&__card {
		padding: 1em;
		border: 1px solid $gray;
		margin-bottom: 1em;
	}
}
